// Fonts
$display-font: Pacifico, cursive;
$title-font: 'Myriad Pro', Helvetica, Arial, sans-serif;
$content-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$display-color: #FFFFFF;
$title-color: #222222;
$content-color: #848484;

// Background Colors
$main-bg-color: #FFFFFF;
$secondary-bg-color: #e7e7e7;

// Featured Colors
$light-featured-color: #3498DB;
$dark-featured-color: #0D74B9;
$hover-featured-color: #66CCFF;

// Misc Colors
$store-icon-bg-color: #000000;
$features-border-color: #e5e5e5;